
	

<footer>
		
		<div class="footer-main">
			<div class="container-fluid custom-container">
				<div class="row">	
					<div class="col-lg-6">
						<div class="footer-block" style="text-align:center;">
							<h1 class="footer-title">About IDGN</h1>
							<h4><p>INDIGENA is an acronym for INteractive Deep Immmersion into non-GENeric Audio. <br>
                                <br/>
								IDGN stands as abbreviation of INDIGENA which is the name of the project. <a href="about-us.ejs">More info...</a></p></h4>
                            <!--
							<ul class="soc_buttons">
								<li><a href=""><i class="fa fa-facebook"></i></a></li>
								<li><a href=""><i class="fa fa-twitter"></i></a></li>
								<li><a href=""><i class="fa fa-google-plus"></i></a></li>
								<li><a href=""><i class="fa fa-pinterest-p"></i></a></li>
								<li><a href=""><i class="fa fa-instagram"></i></a></li>
								<li><a href=""><i class="fa fa-linkedin"></i></a></li>
							</ul> -->
						</div>
					</div>
					<div class="col-lg-6"> 
                       
                        <div class="footer-block" style="text-align:center;">
                             <h1 class="footer-title">
                        Want to talk with us?
                            </h1>
                            <p> Right here a01227020@itesm.mx</p>
                        </div>
                        
                        <!-- 
						<div class="footer-block">
							<h1 class="footer-title">Some Links</h1>
							<div class="row footer-list-footer">
								<div class="col-md-6">
								<ul class="link-list">
									<li><a href="about-us.ejs">About Us</a></li>
									<li><a href="contact-us.ejs">Help</a></li>
									<li><a href="contact-us.ejs">Contacts</a></li>
									<li><a href="activity.ejs">Job</a></li>
									<li><a href="activity.ejs">Projets</a></li>
								</ul></div>
								<div class="col-md-6">
								<ul class="link-list">
									<li><a href="activity.ejs">New Works</a></li>
									<li><a href="author.ejs">Popular Authors</a></li>
									<li><a href="author.ejs">New Authors</a></li>
									<li><a href="people.ejs">Career</a></li>
									<li><a href="faq">FAQ</a></li>
								</ul>
								</div>
							</div>
						</div> -->
					</div>				
					<div class="col-md-3 galerry">
						<!-- <div class="footer-block">					
							<h1 class="footer-title">Recent Works</h1>
							<a href="page2.ejs"><img src="img/g1.jpg" alt=""></a>
							<a href="page2.ejs"><img src="img/g2.jpg" alt=""></a>
							<a href="page2.ejs"><img src="img/g3.jpg" alt=""></a>
							<a href="page2.ejs"><img src="img/g4.jpg" alt=""></a>
							<a href="page2.ejs"><img src="img/g5.jpg" alt=""></a>
							<a href="page2.ejs"><img src="img/g6.jpg" alt=""></a>
							<a href="page2.ejs"><img src="img/g7.jpg" alt=""></a>
							<a href="page2.ejs"><img src="img/g8.jpg" alt=""></a>
							<a href="page2.ejs"><img src="img/g9.jpg" alt=""></a>
							<a href="page2.ejs"><img src="img/g10.jpg" alt=""></a>
							<a href="page2.ejs"><img src="img/g11.jpg" alt=""></a>
							<a href="page2.ejs"><img src="img/g12.jpg" alt=""></a>
						</div> -->
					</div>
					<div class="col-md-3">
						<!-- <div class="footer-block">
							<h1 class="footer-title">Subscribe On Our News</h1>
							<form action="./" class="subscribe-form">
								<input type="text" placeholder="Yout Name" required>
								<div class="submit-block">
									<i class="fa fa-envelope-o"></i>
									<input type="submit" value="">
								</div>
							</form>
							<div class="soc-activity">
								<div class="soc_ico_triangle">
									<i class="fa fa-twitter"></i>
								</div>
								<div class="message-soc">
									<div class="date">16h ago</div>
									<a href="page1.ejs" class="account">@faq</a> vestibulum accumsan est <a href="page1.ejs" class="heshtag">page1.ejsmalesuada</a> sem auctor, eu aliquet nisi ornare leo sit amet varius egestas.
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container-fluid custom-container">
				<div class="col-md-12 footer-end clearfix">
					<div class="left">
						<span class="copy">© 2017. All rights reserved. <span class="white"><a href="page1.ejs"> IDGN Network</a></span></span>
						<span class="created">Created with LOVE by <span class="white"><a href="page1.ejs"> IDGN</a></span></span>
					</div>
					<div class="right">
						<a class="btn color-7 size-2 hover-9" href="/about-us.ejs">About Us</a>
						<a class="btn color-7 size-2 hover-9">Privacy Policy</a>
					</div>
				</div>			
			</div>
		</div>		
	</footer>