  <header>
		<div class="container-fluid custom-container">
			<div class="row no_row row-header">
<div class="brand-be">
	<a href="/">
        
        <h2 style=" margin-left: 20px; margin-top:10px; color:silver; text-align: left; font-family: 'Orbitron', sans-serif;">IDGN</h2>
           
		<!-- <img class=" be_logo logo-c active"  src="img/logo.png" alt="logo" >
		<img class="logo-c be_logo" src="img/logo-green.png" alt="logo" >
		<img  class="logo-c be_logo" src="img/logo-orang.png" alt="logo" >
		<img class="logo-c be_logo" src="img/logo-red.png" alt="logo"> -->
	</a>
</div>
				<!-- <div class="header-menu-block">
					<button class="cmn-toggle-switch cmn-toggle-switch__htx"><span></span></button>
					<ul class="header-menu" id="one">
						<li><a href="activity.ejs">Activity</a></li>
						<li><a href="search.ejs">Discover</a>
							<ul>
								<li><a href="search.ejs">Explore</a></li>
								<li><a href="people.ejs">People</a></li>
								<li><a href="gallery.ejs">Galleries</a></li>
							</ul>
						</li>
						<li><a href="author-login.ejs">My Portfolio</a></li>
						<li><a href="site-map.ejs">Site Map</a></li>
						<li id="ad-work-li"><a id="add-work-btn" class="btn color-1" href="work.ejs">Add Work </a></li>
					</ul>
				</div> -->
				<div class="login-header-block" style="margin-right:10px;">
					<div class="login_block">
                        <% if(nombre != ""){ %>
                        <img class="login-user" src="<%=imagen_url%>" alt="" style="border-radius:5px; height:50px;">
							<span class="be-dropdown-content" style="margin-right:20px;">Hi, <span><%= nombre %></span></span>
                        <% } %>
                        
                        <% if(ref){ %> 
                            <a class="btn color-1 size-2 hover-2" href="/"><i class="fa fa-home fa-lg"></i>
						      Try it!</a>
                        <% }else{ %>
                            <a class="btn color-1 size-2 hover-2" href="/about-us.ejs" target="_blank"><i class="fa fa-info-circle"></i>
						      How even</a>
                       <%  } %>
                        
                        
						  
					</div>	
				</div>
			</div>
		</div>
	</header> 